@import '../../../styles/variables'; 

.box_full_link{
  padding: 69px 38px;
  justify-content: space-between;
  background-color: $color-morado;
  background-image: url(/images/bg-boost-desktop.jpg);
  background-size: cover;

  input{
      width: 100%;
      height: 62px;
      margin-right: 20px;
  }

  .btn_shorten_it{
      background-color: $color-esmeralda;
      width: 177px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 177px;

      &:hover{
          background-color: $color-esmeraldaHover;
          color: #ffffff;
      }
  }
}

@media (max-width:768px){
  .box_full_link {
    background-size:cover;
    background-position: center;
    padding: 20px;
    input{
        margin-bottom: 12px;
    }

    .btn_shorten_it{
        width: 100%;
    }
}
}
  