@import '../../../styles/variables'; 

.box_full_link{
  padding: 69px 38px;
  justify-content: space-between;
  background-color: $color-morado;
  background-image: url(/images/bg-boost-desktop.jpg);
  background-size: cover;

  input{
      width: 100%;
      height: 62px;
      margin-right: 20px;
      outline: 1px solid #ffffff;

      &:hover,
      &:active,
      &:focus{
        outline:1px solid $color-blue;
      }

      &.error{
        outline:1px solid $color-red;
      }

      &.success{
        outline:1px solid $color-green;
      }

      
  }

  .btn_shorten_it{
      background-color: $color-esmeralda;
      width: 177px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 177px;

      &:hover{
          background-color: $color-esmeraldaHover;
          color: #ffffff;
      }

      &:active {
        background-color: $color-esmeraldaClicked;
        color: #ffffff;
      }
  }

  .text_error{
    color: $color-red;
    font-size: 16px;
    position: absolute;
    left: 38px;
    bottom: 39px;
  }
}

@media (max-width:768px){
  .box_full_link {
      background-size:cover;
      background-position: center;
      padding: 20px;
      input{
          margin-bottom: 12px;
      }

      .text_error{
        bottom: auto;
        left: auto;
        margin-top: -8px;
        margin-bottom: 12px;
        position: relative;
      }

      .btn_shorten_it{
          width: 100%;
      }
  }
}
  