@import '../../styles/variables'; 

.btn_emerald {
  background-color: $color-esmeralda;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

  &:hover {
    background-color: $color-esmeraldaHover;
    color: #ffffff;
  }

  &:active {
    background-color: $color-esmeraldaClicked;
    color: #ffffff;
  }

  &.copied {
    background-color: $color-esmeraldaClicked; // Cambia el color a verde o el estilo que prefieras
    color: white;
  }

  &.w-full {
    width: 100%;
  }

  &.w-177 {
    width: 177px;
  }

  &.w-149 {
    width: 149px;
  }
}
