@import '../../styles/variables'; 

.link-list {
    margin-top: 2rem;
    .link-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #f4f4f4;
      border-radius: 5px;
      margin-bottom: 1rem;
  
      .original-link, .shortened-link {
        flex-grow: 1;
        margin-right: 1rem;
      }
  
      .btn-copy {
        background-color: #2acfcf;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #9be3e2;
        }
      }
    }
  }
  