@import '../../../styles/variables'; 

.link-list {
    margin-top: 2rem;
    .link-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #f4f4f4;
      border-radius: 5px;
      margin-bottom: 1rem;
  
      .original-link, .shortened-link {
        flex-grow: 1;
        margin-right: 1rem;
      }
  
      .btn-copy {
        background-color: #2acfcf;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: #9be3e2;
        }
      }
    }
  }


  

.results{

  .subtitle{
    color: $color-texto;
    font-size: 18px;
  }

    .short_link_bar{
        padding: 15px 38px;
        background-color: #fff;
        margin-bottom:16px;            
        box-shadow: 0px 4px 6px -1px #0000001A;
        align-items: center;

        .original_link{
            color: #000000;
            overflow: hidden;
            font-weight: 500;  
            width: 52%;    
            white-space: nowrap;  
            font-size: 20px;        
        }
        
        .shortened_link{
            color: $color-esmeralda;
            overflow: hidden;
            padding-left: 20px;
            font-weight: 500;
            width: calc(50% - 197px);
            white-space: nowrap;
            font-size: 20px;
        }
                  

        .btn_copy{
            background-color: $color-esmeralda;
            width: 177px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 177px;

            &:hover{
                background-color: $color-esmeraldaHover;
                color: #ffffff;
            }
        }            
    }            
}

@media (max-width:768px){
  .results {
    .short_link_bar {
        padding: 0 0 20px;

        .original_link{
            width: 100%;
            padding: 20px 20px 15px;                    
            border-bottom: 1px solid #E5E7EB;
            font-size: 16px;

            /*&:after{
                content: '';
                width: calc(100% + 60px);
                height: 1px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #E5E7EB;
                position: absolute;
                bottom:0;
            }*/
        }
        
        .shortened_link{
            width: 100%;
            padding: 15px 20px; 
            font-size: 16px;  
        }

        .btn_copy{
            width: calc(100% - 40px);
            margin: 0 auto;

        }
    }
}
}
  