$color-texto:#6B7280;
$color-esmeralda:#2DD4BF;
$color-gris: #1F2937;
$color-esmeraldaHover: #0D9488;
$color-esmeraldaClicked: #0F766E;
$color-morado:#581C87;
$color-red: #EF4444;
$color-green: #10B981;
$color-blue: #3B82F6;