@import '../../styles/variables'; 


 
.header {
  z-index: 10;
  
  width: 100%;

  .logo{
      font-size: 32px;
      font-weight:700;
  }

  .menu-icon {
      width: 32px;
      height: 23px;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;               
  
      div {
          width: 100%;
          height: 3px;
          background-color: #000000;
          transition: 0.4s;
          border-radius: 3px;
      }
  
      &.change {
          .bar1 {
              transform: rotate(-45deg) translate(-4px, 4px);
          }
      
          .bar2 {
              opacity: 0;
          }
      
          .bar3 {
              transform: rotate(45deg) translate(-10px, -10px);
          }
      }
  }

  nav{
      ul{
          li{
              a{
                  font-weight: 500;
                  font-size: 20px;
              }
          }
      }
  }

  .btn_login{
      font-weight: 500;
      font-size: 16px;

      &:hover{
          color: $color-esmeralda;
      }
  }   
  
}    


@media (max-width:768px){
  .header{
      #right_header.menu-activo{
          display: block;
          width: calc(100% - 24px);
          position: absolute;
          top: 107px;
          left: 12px;
          background-color: $color-gris;
          border-radius: 8px;
          padding-bottom: 44px;
      } 

      nav{
          display: block;
          ul{
              display: block;
              padding-top: 20px;
              border-bottom:1px solid #4B5563;
              padding-bottom: 20px;

              li{
                  width: 100%;

                  a{
                      display: block;
                      width: 100%;
                      height: 50px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      color: #ffffff;
                      font-size: 19px;
                  }
              }

          }
      }

      .user_side{
          padding-top: 20px;
          .btn_login{
              font-size: 19px;
              color: #ffffff;
              padding: 20px 0;
              margin-bottom: 20px;
          }

          .btn_signup{
              margin: 0 auto;
          }
      }
  }
}





  